body {
    background-image: url('ZiegenHainy.png');
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    font-family: calibri;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

a {
    color: white;
    font-family: calibri;
    font-weight: bold;
}

.Main {
    color: white;
    font-family: calibri;
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 60%;
}

.News {
    position: absolute;
    top: 85px;
    right: 5%;
    width: 30%;
    border: 10px groove black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: calibri;
    font-size: 150%;
}