body {
    font-family: helvetica;
    background-color: black;
    color: white;
}

h1 {
    font-weight: bolder
}

.ImageContainer {
    display: flex;
    flex-wrap: wrap;
}


.Image {
    box-sizing: border-box;
    opacity: 0%;
}

.fadein {
    -webkit-transition: 1s;
    -moz-transition:    1s;
    -ms-transition:     1s;
    -o-transition:      1s;
    transition:         1s;
    opacity: 100% !important;
}


img {
    height: 40vh;
    width: auto;
    display: block;
}