body {
    font-family: helvetica;
    background-color: black;
    color: white;
}

h1 {
    font-weight: bolder
}

.ImageContainer {
    display: flex;
    flex-wrap: wrap;
}

.Image {
    box-sizing: border-box;
}

img {
    height: 40vh;
    width: auto;
    display: block;
}